:root {
  --main-color: #866446;
  --secondary-color: #F2CCB6;
  --tertiary-color: #8C2727;
}

#header-icon {
  font-size: 40px;
}

nav {
  background-color: var(--tertiary-color);
  height: 100px;
}

.brand-logo {
  width: 80%
}

nav span {
  display: block;
  text-align: center;
  font-size: 16px;
  margin-top: -30px;
  width: 100%;
}

li span {
  display: block;
  font-size: 14px;
}

.btn {
  background-color: var(--main-color);
}

.btn:active .btn:focus .btn:link .btn:visited {
  background-color: var(--secondary-color);
  color: black;
}

.btn:hover {
  background-color: var(--tertiary-color);
}
  
#search-area {
  padding-top: 30px;
  border-bottom: 3px solid black;
}

#search-input {
  margin-bottom: 0;
}

#recipe-steps {
  margin: 0 auto;
}

#recipe-summary {
  font-size: 18px;
  max-width: 70%;
  margin: 0 auto;
  margin-bottom: 50px;
}
  
::placeholder {
  color: black;
  text-align: center;
  font-size: 18px;
}
  
#recipe-btn {
  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: 20px;
}

#cocktail-btn {
  margin-top: 20px;
}

#content-area {
  background-color: var(--secondary-color);
}
  
#recipe-title {
  width: 100%;
}
  
#recipe-image {
  max-height: 50vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
  
.section-title {
  text-decoration: underline;
}
  
#grocery-bar {
  border-left: 3px solid black;
  color: black;
}

#ingredient-bar {
  border-left: 3px solid black;
}
  
#ingredient-list {
  font-size: 18px;
}
  
#ingredient-list li {
  margin-bottom: 10px;
}
  
#grocery-list {
  font-size: 18px;
}
  
#grocery-list li {
  margin-bottom: 10px;
}

#grocery-list li:hover {
  font-size: 20px;
  color: var(--secondary-color);
}

#ingredient-list li:hover {
  font-size: 20px;
  color: var(--tertiary-color);
}
  
#copy-right {
  width: 100%;
}
  
.row {
  margin: 0;
  display: flex;
  justify-content: space-evenly;
}

#add-all-btn {
  margin-left: 10px;
  margin-right: 10px;
}

#save-btn {
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

#delete-btn {
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

#print-btn {
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.modal-header {
  padding: 2px 16px;
  background-color: var(--main-color);
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 10px 0;
  background-color: var(--main-color);
  color: white;
  text-align: center;
}

.modal-content {
  position: absolute;
  z-index: 2;
  top: 10%;
  left: 30%;
  background-color: #fefefe;
  display: none;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 1s
}

.modal-body {
  font-size: 20px;
}

@keyframes animatetop {
  from {opacity: 0}
  to {opacity: 1}
}

@media only screen and (max-width: 992px) {
  .row {
    margin: 0;
    display: block;
  }
  
  #header-icon {
    display: none;
  }
  
  #search-area {
    height: auto;
  }
  
  #content-section {
    height: auto;
  }
  
  #recipe-btn {
    margin-bottom: 20px;
  }
  
  #cocktail-btn {
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: 10px;
  }

  #ingredient-bar {
    border: none;
  }
  
  #grocery-bar {
    height: auto;
    border: none;
  }

  #add-all-btn {
    width: 95%;
  }
  
  #save-btn {
    width: 95%;
  }
  
  #delete-btn {
    width: 95%;
  }
  
  #print-btn {
    width: 95%;
  }
  
  #instructions-area {
    border-bottom: 3px solid black;
  }
}
  
@media only screen and (max-width: 600px) {
  #cocktail-btn {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 312px) {
  nav span {
    display: none;
  }
}