#header-icon {
    font-size: 40px;
}

#search-area {
    padding-top: 30px;
    border-bottom: 3px solid black;
}

#content-section {
    height: 65vh;
}

#popular-recipes {
    height: 25vh;
}

::placeholder {
    color: black;
    text-align: center;
    font-size: 14px;
}

#randomBtns {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

#recipeBtn {
    margin-right: 15px;
    margin-bottom: 50px;
   
}

#cocktailBtn {
    margin-left: 15px;
}

#sideBar {
    height: 65vh;
}

#list {
    height: 50vh;
    border: 5px solid teal;
    margin-bottom: 20px;
}

#saveBtn {
    align-content: center;
}

.buttonCenter {

}

.row {
    margin: 0;
}

@media only screen and (max-width: 600px) {
    #search-area {
        height: auto;
    }

    #content-section {
        height: auto;
    }
    
    #popular-recipes {
        height: auto;
    }

    #recipeBtn {
        margin-bottom: 10px;
    }

    #cocktailBtn {
        margin-left: 0;
        margin-bottom: 10px;
    }
  }